doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google-signin-client_id" content="1041474457742-c79qab5j7ctbig74p1qps8eejocqm2ve.apps.googleusercontent.com")
        title TDTU Social Network
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel='icon' sizes='16x16' href='/images/logo.svg')
    body 
        //- Content
        block content

        //- Sign out modal
        #logoutModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg(role='content')
                .modal-content
                    .modal-header
                        h4.modal-title Do you want to sign out?
                        button.close(type='close', data-dismiss='modal') &times;
                    .modal-body.d-flex.justify-content-end
                        button(class="btn btn-danger", id="modalLogoutButton", onclick="onGoogleSignOut()") Sign out
                        button(class="btn btn-default ml-3", data-dismiss="modal") Close

        //- Info modal
        #infoModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg(role='content')
                .modal-content
                    .modal-header
                        h4.modal-title Self Information
                        button.close(type='close', data-dismiss='modal') &times;
                    .modal-body
                        form(action="", method="POST", id="infoForm", enctype="multipart/form-data")
                            
                            if user
                                if (user.avatar === "")
                                    div(class="mb-2 d-flex justify-content-center")
                                        label(class="d-flex flex-column justify-content-end align-items-end", for="newAvatar") 
                                            img(id="avatarInfo", width="80", height="80", src="/images/default_avatar.svg", alt="user avatar")
                                            span
                                                i(class="fas fa-pen")
                                        input(onchange="displayAvatarHandler(this);", accept="image/*", class="d-none", type="file", name="newAvatar", id="newAvatar")
                                else 
                                    div(class="mb-2 d-flex justify-content-center")
                                        label(class="d-flex flex-column justify-content-end align-items-end", for="newAvatar") 
                                            img(id="avatarInfo", width="80", height="80", src=user.avatar, alt="user avatar")
                                            span
                                                i(class="fas fa-pen")
                                        input(onchange="displayAvatarHandler(this);", accept="image/*", class="d-none", type="file", name="newAvatar", id="newAvatar")

                                if (user.type === "Admin" || user.type === "Staff")
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='useremail') Email
                                        .col-md-12 
                                            input(required, disabled, class="form-control", type="text", name="useremail", id="useremail", value=user.email)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='name') Name
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="name", id="name", value=user.name)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='phone') Phone
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="phone", id="phone", value=user.phone)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='new-password') Change password
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  placeholder="Enter new password", class="form-control", type="password", name="new-password", id="new-password")
                                else if (user.type === "Student")
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='email') Email
                                        .col-md-12 
                                            input(required, disabled, class="form-control", type="text", name="email", id="email", value=user.email)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='name') Name
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="name", id="name", value=user.name)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='phone') Phone
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="phone", id="phone", value=user.phone)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='class') Class
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="class", id="class", value=user.class)
                                    .form-group.row
                                        label.col-md-12.col-form-label(for='faculty') Faculty
                                            span 
                                                i(class="fas fa-pen")
                                        .col-md-12
                                            input(required, disabled,  class="form-control", type="text", name="faculty", id="faculty", value=user.faculty)

                                .form-group.row
                                    .col-md-12.justify-content-end.d-flex
                                        button.btn.btn-primary(type='submit') Update 
                                        button.btn.btn-default.ml-3(type='button', data-dismiss='modal') Close

        script(src="https://apis.google.com/js/platform.js", async, defer)
        script(src="https://kit.fontawesome.com/a65ad4e019.js", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="/javascripts/main.js") 