extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard") Dashboard 

    if user.type === "Admin"
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/users") Management

    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/notification") Notification 

    a(class="px-3 py-2 dashboard__sideMenuFunction", href="javascript:void", id="logoutButton") Sign out

block dashboardContent
    input(type="hidden" value=user._id id="userObjectId")

    div(class="row")
        div(class="col-md-8 pl-md-0")
            div(class="container-fluid")
                div(class="row")
                    div(class="dashboard__contentCommunication bg-white pt-3 pb-0 mb-4 col-md-12")
                        div(class="form-group row d-flex align-items-center")
                            div(class="col-md-1 col-sm-2 col-3")
                                if user.avatar === ""
                                    img(src="/images/default_avatar.svg", alt="user avatar", width="40", height="40")
                                else 
                                    img(src=user.avatar, alt="user avatar", width="40", height="40")
                            div(class="col-md-11 col-sm-10 col-9")
                                input(type="text", name="textThinking", id="textThinking", class="form-control", readonly, autocomplete="off", placeholder="What are you thinking?")
                        hr
                        div(class="m-3")
                            div(class="btn-postStatus form-group row mb-0")
                                div(class="col-md-4 col-sm-4 col-4 p-2 d-flex align-items-center justify-content-center")
                                    i(class="text-danger fas fa-images")
                                    span(class="ml-2") Photos/Videos
                                div(class="col-md-4 col-sm-4 col-4 p-2 d-flex align-items-center justify-content-center") 
                                    i(class="text-success fas fa-tags")
                                    span(class="ml-2") Tag friends
                                div(class="col-md-4 col-sm-4 col-4 p-2 d-flex align-items-center justify-content-center")
                                    i(class="text-warning far fa-laugh-squint")
                                    span(class="ml-2") Feeling/Activity

                    //- Posts
                    div(id="postArea" class="col-md-12 px-0")
                        if posts
                            each post in posts
                                div(class="dashboard__contentCommunication mb-4 pb-1 px-3 pt-3 bg-white col-md-12" id=post.postUniqueId)
                                    div(class="form-group row")
                                        div(class="col-md-1 col-sm-2 col-3")
                                            img(src=post.profileAvatar alt="user avatar" width="40" height="40")
                                        div(class="col-md-11 col-sm-9 col-8")
                                            div(class="d-flex align-items-center justify-content-between")
                                                div
                                                    strong= post.name
                                                    p(class="mb-0")
                                                        small(class="text-secondary timestamp-post")= post.timestamp

                                                if post.ownerId == user._id
                                                    div(class="dropdown show")
                                                        a(class="btn btn-link text-dark dropdown-toggle" role="button" id="postHandlerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                                            i(class="fas fa-ellipsis-h")
                                                        
                                                        div(class="dropdown-menu dropdown-menu-right" aria-labelledby="postHandlerDropdown")
                                                            button(class="dropdown-item btn btn-link editPost" data-postUniqueId=post.postUniqueId) Edit
                                                            button(class="dropdown-item btn btn-link deletePost" data-postUniqueId=post.postUniqueId) Delete

                                    p(class="post-content")= post.content
                                    div(id="imageAndVideoContainer")
                                        div(class="row")
                                            if post.image && !post.video
                                                div(class="px-0 col-md-12")
                                                    img(src=post.image class="post-image")
                                            else if post.video && !post.image
                                                div(class="px-0 col-md-12 embed-responsive embed-responsive-16by9")
                                                    iframe(class="embed-responsive-item" src=post.video allowfullscreen)
                                            else if post.video && post.image
                                                div(class="px-0 col-md-6")
                                                    img(src=post.image class="post-image")
                                                div(class="px-0 col-md-6 embed-responsive embed-responsive-16by9")
                                                    iframe(class="embed-responsive-item" src=post.video allowfullscreen)                                        
                                        
                                    div(class="m-3")
                                        hr(class="my-0")
                                        div(class="btn-postStatus form-group row mb-0")
                                            div(class="col-md-4 col-sm-4 col-4 p-2 d-flex align-items-center justify-content-center")
                                                i(class="far fa-thumbs-up")
                                                span(class="ml-2") Like
                                            div(class="col-md-4 col-sm-4 col-4 p-2")
                                                label(class="mb-0 d-flex align-items-center justify-content-center" for="commentInput-" + post.postUniqueId)
                                                    i(class="far fa-comment-dots")
                                                    span(class="ml-2") Comment
                                            div(class="col-md-4 col-sm-4 col-4 p-2 d-flex align-items-center justify-content-center")
                                                i(class="fas fa-share-square")
                                                span(class="ml-2") Share
                                        hr(class="mt-0 mb-4")

                                        //- Comment
                                        div(class="dashboard__contentCommunicationComment" id="comment-" + post.postUniqueId)
                                            div(id="commentSection" data-postUniqueId=post.postUniqueId)
                                                each comment in post.comment
                                                    div(class="form-group row" id=comment.commentUniqueId)
                                                        div(class="col-md-1 col-sm-2 col-3")
                                                            img(class="comment-ProfilePic" src=comment.guestAvatar alt="user avatar" width="35" height="35")
                                                        div(class="col-md-11 col-sm-9 col-8")
                                                            div(class="commentContainerStyles d-flex align-items-center")
                                                                div(class="py-1 px-2")
                                                                    strong #{comment.guestName}
                                                                    p(class="mb-0") #{comment.guestComment}
                                                                if comment.guestId == user._id
                                                                    div(class="dropdown show commentHandler")
                                                                        a(class="btn btn-link text-dark bg-white dropdown-toggle" role="button" id="commentHandlerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                                                            i(class="fas fa-ellipsis-h")
                                                                        div(class="dropdown-menu dropdown-menu-right" aria-labelledby="commentHandlerDropdown")
                                                                            button(class="dropdown-item btn btn-link editComment" data-postUniqueId=post.postUniqueId data-commentUniqueId=comment.commentUniqueId) Edit
                                                                            button(class="dropdown-item btn btn-link deleteComment" data-postUniqueId=post.postUniqueId data-commentUniqueId=comment.commentUniqueId) Delete
                                                                
                                                            small(class="ml-2 text-secondary") #{comment.commentTimeStamp}

                                        div(class="row")
                                            div(class="px-0 pt-3 col-md-12 input-group commentInputStyles")
                                                input(type="text" placeholder="Write your comment..." class="form-control commentInput" id="commentInput-" + post.postUniqueId data-inputComment=post.postUniqueId onkeypress="emitComment(event)")
                                                div(class="input-group-append")
                                                    button(class="btn btn-primary" onclick="emitCommentOnButton(event)" data-postUniqueId=post.postUniqueId)
                                                        i(class="fas fa-paper-plane" data-postUniqueId=post.postUniqueId)

        div(class="col-md-4 pr-md-0")
            div(class="container-fluid sticky-top")
                div(class="row")
                    div(class="dashboard__contentNotificationList notifList-height bg-white pt-3 pb-1 mb-4 col-md-12")
                        p(class="text-center font-weight-bold") Notification List
                        select(name="notifs", id="notifs", class="rounded align-center form-control") 
                            option(value="all") Tất cả

                            if listOfficeFaculty 
                                each item, index in listOfficeFaculty 
                                    option(value=item.name)= item.name
                            
                        hr
                        .tableNotifListScroll
                            table.table.table-bordered.tableNotifList
                                tbody#notificationList
                                    if notifications
                                        each notification in notifications
                                            tr(class="NotifDetails", data-notifId=notification._id)
                                                td(data-notifId=notification._id)
                                                    p(class="font-italic text-secondary", data-notifId=notification._id, title="[" + notification.type + "]" + " - " + notification.date) [#{notification.type}] - #{notification.date}
                                                    p.mb-0.text-primary(data-notifId=notification._id, title=notification.title)= notification.title

                        hr
                        div.d-flex.flex-column.justify-content-between.align-items-center
                            ul.pagination
                                //- Previous button
                                li.page-item.disabled(data-page="previous")
                                    a.page-link(type="button", data-page="previous", aria-label='Previous')
                                        span(aria-hidden='true', data-page="previous") &laquo;
                                        span.sr-only(data-page="previous") Previous

                                //- Render the pages panel, display limit is 3 pages
                                - var index = 1

                                //- if totalNotifPages
                                //-     while index <= totalNotifPages
                                //-         if index === 1
                                //-             li.page-item.text-light.active(data-page=index)
                                //-                 a.page-link(type="button", data-page=index)= index++
                                //-         else if index === 4 || totalNotifPages === 1
                                //-             - break
                                //-         else
                                //-             li.page-item.text-primary(data-page=index)
                                //-                 a.page-link(type="button", data-page=index)= index++

                                while index <= totalNotifPages
                                    if index === 1
                                        li.page-item.text-light.active(data-page=index)
                                            a.page-link(type="button", data-page=index)= index++
                                    else
                                        li.page-item.text-primary(data-page=index)
                                            a.page-link(type="button", data-page=index)= index++

                                //- Next button
                                li.page-item.text-primary(data-page="next")
                                    a.page-link(type="button", data-page="next", aria-label='Next')
                                        span(aria-hidden='true', data-page="next") &raquo;
                                        span.sr-only(data-page="next") Next
                            
                            //- Announce the current viewing page of total
                            if totalNotifPages
                                if totalNotifPages === 1
                                    p.text-secondary(id="currentViewingPage") Page 1
                                else
                                    p.text-secondary(id="currentViewingPage") Page 1 of #{totalNotifPages}