extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="/dashboard")
        span Dashboard
        i(class="fas fa-home h5 mb-0")

    if user.type === "Admin"
        a(class="d-flex align-items-center justify-content-between mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/users")
            span Management
            i(class="fas fa-user-friends h5 mb-0")

    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="/dashboard/notification")
            span Notification
            i(class="fas fa-bullhorn h5 mb-0")

    a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard/notificationlist", id="mobileOption")
        i(class="fas fa-clipboard-list h5 mb-0")

    a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="javascript:void", id="logoutButton")
        span Sign out
        i(class="fas fa-sign-out-alt h5 mb-0")

block dashboardContent
    input(type="hidden" value=user._id id="userObjectId")

    div(class="row")
        div(class="col-md-12")
            div(class="container-fluid")
                div(class="row")
                    div(class="dashboard__contentNotificationListBlank notifList-height bg-white pt-3 pb-1 mb-4 col-md-12")
                        p(class="text-center font-weight-bold") Notification List
                        select(name="notifs", id="notifs", class="rounded align-center form-control") 
                            option(value="all") Tất cả

                            if listOfficeFaculty 
                                each item, index in listOfficeFaculty 
                                    option(value=item.name)= item.name
                            
                        hr
                        .tableNotifListScroll
                            table.table.table-bordered.tableNotifList
                                tbody#notificationList
                                    if notifications
                                        each notification in notifications
                                            tr(class="NotifDetails", data-notifId=notification._id)
                                                td(data-notifId=notification._id)
                                                    p(class="font-italic text-secondary", data-notifId=notification._id, title="[" + notification.type + "]" + " - " + notification.date) [#{notification.type}] - #{notification.date}
                                                    p.mb-0.text-primary(data-notifId=notification._id, title=notification.title)= notification.title

                        hr
                        div.d-flex.flex-column.justify-content-between.align-items-center            
                            ul.pagination.align-items-center
                                //- Previous button
                                li.page-item.text-primary(data-page="previous")
                                    a.page-link(type="button", data-page="previous", aria-label='Previous')
                                        span(aria-hidden='true', data-page="previous") &laquo;
                                        span.sr-only(data-page="previous") Previous

                                ul.pagination#innerPagination
                                    - var index = 1

                                    while index <= totalNotifPages
                                        if index === 1
                                            li.page-item.text-light.active(data-page=index)
                                                a.page-link(type="button", data-page=index)= index++
                                        else
                                            li.page-item.text-primary(data-page=index)
                                                a.page-link(type="button", data-page=index)= index++

                                //- Next button
                                li.page-item.text-primary(data-page="next")
                                    a.page-link(type="button", data-page="next", aria-label='Next')
                                        span(aria-hidden='true', data-page="next") &raquo;
                                        span.sr-only(data-page="next") Next
                            
                            //- Announce the current viewing page of total
                            if totalNotifPages
                                if totalNotifPages === 1
                                    p.text-secondary(id="currentViewingPage") Page 1
                                else
                                    p.text-secondary(id="currentViewingPage") Page 1 of #{totalNotifPages}