extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="/dashboard")
        span Dashboard
        i(class="fas fa-home h5 mb-0")

    if user.type === "Admin"
        a(class="d-flex align-items-center justify-content-between mb-2 px-3 py-2 dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard/users")
            span Management
            i(class="fas fa-user-friends h5 mb-0")

    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="/dashboard/notification")
            span Notification
            i(class="fas fa-bullhorn h5 mb-0")

    a(class="mb-2 px-3 py-2 d-flex align-items-center justify-content-between dashboard__sideMenuFunction", href="javascript:void", id="logoutButton")
        span Sign out
        i(class="fas fa-sign-out-alt h5 mb-0")

block dashboardContent
    div(class="dashboard__contentUsers row")
        div(class="container dashboard__contentUsersForm bg-white col-md-12")
            form(action="/dashboard/users", method="POST", class="p-3", enctype="multipart/form-data")
                h3(class="mb-4 text-primary text-center") Create Account Office/Faculty (O/F) Staff

                div(class="form-group row")
                    label(for="email", class="col-form-label col-md-1") Email
                    div(class="col-md-5")
                        input(type="email", name="email", id="email", class="form-control", required, value=email) 
                    label(for="password", class="col-form-label col-md-1") Password
                    div(class="col-md-5")
                        input(type="password", name="password", id="password", class="form-control", required, value=password)

                div(class="form-group row")
                    label(for="name", class="col-form-label col-md-1") Name
                    div(class="col-md-5")
                        input(type="text", name="name", id="name", class="form-control", required, value=name) 
                    label(for="phone", class="col-form-label col-md-1") Phone
                    div(class="col-md-5")
                        input(type="tel", name="phone", id="phone", class="form-control", required, value=phone) 

                div(class="form-group row")
                    label(for="workplace", class="col-form-label col-md-1") Workplace
                    div(class="col-md-5")
                        input(type="hidden", id="workplaceHidden", value=workplace)
                        select(name="workplace", id="workplace", class="form-control", required) 
                            option(value="") (Choose Office/Faculty)

                            if listOfficeFaculty 
                                each item, index in listOfficeFaculty 
                                    option(value=item.name)= item.name

                    label(for="avatar", class="col-form-label col-md-1") Avatar
                    div(class="col-md-5")
                        input(accept="image/*", type="file", name="avatar", id="avatar", class="form-control", required) 

                div(class="form-group row")
                    label(for="permission", class="col-form-label col-md-1") Permission (Multiple)
                    div(class="col-md-11")
                        input(type="hidden", id="permissionHidden", value=permission)
                        select(name="permission", id="permission", class="form-control", required, multiple) 

                            if listOfficeFaculty 
                                each item, index in listOfficeFaculty 
                                    option(value=item.name)= item.name
             
                div(class="form-group row")
                    div(class="col-md-12 d-flex align-items-center justify-content-end")
                        p(class="text-danger mb-0 mr-3") #{errorMessage}
                        button(type="submit", class="btn btn-success") Submit

        div(class="container dashboard__contentUsersList bg-white col-md-12 mt-4 px-0 table-responsive")
            table.table.table-hover
                thead.thead
                    tr
                        th(scope='col') #
                        th(scope='col') Avatar
                        th(scope='col') ID
                        th(scope='col') Name
                        th(scope='col') Email
                        th(scope='col') Phone
                        th(scope='col') Type
                        th(scope='col') Handler
                tbody
                    if users
                        - var index = 0
                        each user in users 
                            if user.type !== "Admin" && user.type !== "Student"
                                - index = index + 1

                                tr
                                    th(scope='row')= index
                                    td
                                        if user.avatar === ""
                                            img(src="/images/default_avatar.svg", alt="user avatar", width="35", height="35")
                                        else 
                                            img(src=user.avatar, alt="user avatar", width="35", height="35")
                                    td= user.userId
                                    td= user.name
                                    td= user.email
                                    td= user.phone
                                    td= user.type
                                    td
                                        img(class="mr-1 EditManagement", src="/images/edit_icon.png", width="28", height="28")
                                        img(class="DeleteManagement", onclick="alert('Clicked Delete')", src="/images/delete_icon.png", width="28", height="28")
